/* style voor alle elementen */
*
{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box; /* Zorgt ervoor dat alles netjes in een box blijft en niet gaat overlappen */
} 

/* opmaak voor de body */
body
{
    background-color: #E5E5E5;
}
#menu-toggle
{
    display: none;
}
/* Style the hamburger menu */
.hamburger
{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    cursor: pointer;
}
.hamburger span
{
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #F05D23;
}
.hamburger span:nth-child(1)
{
    top: 0; /*eerste streepje*/
}
.hamburger span:nth-child(2)
{
    top: 9px; /* tweede streepje */
}
.hamburger span:nth-child(3)
{
    bottom: 0; /*derde streepje*/
}
.menu
{
    display: none;
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #4DB2F9;
    color: black;
}
.menu ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu ul li
{
    padding: 10px;
}
.menu ul li a
{
    color: black;
    text-decoration: none;
}
#menu-toggle:checked ~ .menu
{
    left: 0;
    display: block;
}

/* Alle articellen in de main */
main
{
    /* background-color: #E5E5E5; LET OP! dit kan de article background color overrulen & is waarschijnlijk overbodig */
}
#Header_Hero
{

}
#Header_Hero > img
{
    width: 100%;
    display: block;
}
#Main_StartArticle
{
    background-color: #4DB2F9;
    padding: 1em;
}
#Main_Article1 /* Kijk eerst eens of je alles in een grid kan zetten. */
{
    background-color: #4DB2F9;
    padding: 1em;
    /* width: 25%; */
    /* height: 25%; */

    /* border-top-left-radius: 10%; */
    /* border-bottom-left-radius: 10%; */
    /* border-top-right-radius: 10%; */
    /* border-bottom-right-radius: 10%; */
}
#Main_Article2
{
    background-color: #4DB2F9;
    padding: 1em;
}
#Main_Article3
{
    background-color: #4DB2F9;
    padding: 1em;
}
#Main_Article4
{
    background-color: #4DB2F9;
    padding: 1em;
}
#Main_Article5
{
    background-color: #4DB2F9;
    padding: 1em;
}
#Main_Article6
{
    background-color: #4DB2F9;
    padding: 1em;
}




